[2015-05-27 22:59] wadawson opened #1 "Zero points for LSST seem very faint"
I was just going through [some of the code](https://github.com/DarkEnergyScienceCollaboration/WeakLensingDeblending/blob/master/descwl/survey.py#L181-202) and noticed that the zero points for LSST are set at:
- ZP_r = 55.8
- ZP_i = 41.5

I did some quick calculations and get numbers around 30, which matches my expectations from using other telescopes like Subaru. I can copy some detailed calculati

[2015-07-01 23:56] dkirkby opened #2 "PDF documentation is broken"
The [link to the docs as a single pdf file](http://readthedocs.org/projects/weaklensingdeblending/downloads/pdf/latest/) just shows a single plot.

[2015-11-14 16:19] mdschneider commented on #1
@wadawson I want to add zero points (and other needed quantities) for the remaining LSST bands in [this dict](https://github.com/DarkEnergyScienceCollaboration/WeakLensingDeblending/blob/master/descwl/survey.py#L177) in `survey.py`. Do you have a reference or calculation of recommended numbers for each band?

[2015-11-14 16:52] dkirkby commented on #1
The zero points here are defined as the total detected signal rate in a specified pass band, in electrons per second, for a fiducial source with AB magnitude m0 = 24.  They are calculated from the tabulated filter curves as (taken from an appendix of the paper draft):

![zeropt](https://cloud.githubusercontent.com/assets/185007/11164720/ef5a388c-8aac-11e5-9268-61b8ac8462f1.png)

[2015-11-14 19:32] jmeyers314 commented on #1
Would it be worth using a different term than zero point for this?  Usually, an astronomical zero point corresponds to a magnitude at which the flux is 1 electron per second.  (For instance, http://www.stsci.edu/hst/acs/analysis/zeropoints).  Maybe "flux zeropoint" in contrast to magnitude zero point at the very least?

[2015-11-15 18:37] dkirkby opened #7 "Update dbquery docs"
PR #5 replaces mssql with sqlalchemy, so this changes the instructions for running dbquery.  Note that sqlalchemy is included with anaconda.

[2015-11-15 18:47] dkirkby commented on #1
I wasn't really sure what "zero point" meant when I started using it here, but I guess the original zero point is Vega, and now it just means something that fixes the normalization of a photometric system.

The [DES SV photometry](https://cdcvs.fnal.gov/redmine/projects/des-sci-verification/wiki/Photometry) uses the notation `Zpt (mag)` for the AB magnitude corrsponding to 1 elec/sec and `Zpt (e-)

[2015-11-23 21:43] fjaviersanchez opened #8 "Create --no-hsm option"
After commenting the HSM fitting part in analysis.py the running time decreases by ~25% (from 95 mins to 65 mins for one 4K LSST chip). So it can be useful to include this option to speed up the program.

[2015-11-25 00:57] ismael-mendoza opened #9 "Adding Fisher bias calculation."
Adding bias calculation using the Fisher Formalism to the package will be useful. To calculate the biases it is necessary to first obtain the second partial derivatives of the galaxy with respect to its parameters.

An idea is to calculate the second partials in render.py like the first partials and store all the partials together in the datacubes (set an optional flag because this will potentiall

[2015-11-25 01:28] dkirkby commented on #9
This sounds useful.  Have you thought about how you want to calculate the 2nd derivatives?  I used one-sided finite differences for the 1st derivatives, to reduce the number of different GalSim renderings required.  The 2nd derivative could re-use the images already rendered for the first derivative.

[2015-11-25 01:32] dkirkby commented on #9
@ismael2395 I would like to add you to the list of collaborators for this repo, but I suspect you need to join the DarkEnergyScienceCollaboration team first.

[2015-11-25 03:59] drphilmarshall commented on #9
@dkirkby - this project is public, so @ismael2395 can just fork the repo
and submit a pull request. This will also put him on the watch list as
well, so he'll get all the email notifications.

On Tue, Nov 24, 2015 at 5:32 PM, dkirkby notifications@github.com wrote:

[2015-11-25 04:32] ismael-mendoza commented on #9
Thanks for the clarification @drphilmarshall , I already forked the repo and will do work on it @dkirkby . That is a great idea @dkirkby ! Taking advantage of the images before would make it faster. Once I have a working implementation of this I will post it in this comment. -- actually in the bottom one.

[2015-12-02 00:56] ismael-mendoza commented on #9
I looked through your code @dkirkby and noticed that you calculate your partial derivatives two-sidedly? (render.py, line244)

[code]

So after some calculations I noticed that with a 6 parameter galaxy, doing one-sided second partials for the galaxies would require only 16 total galsim draws and two-sided second partials would require 41 total draws (taking advantage of the images rendered in bot

[2015-12-02 01:12] dkirkby commented on #9
Yes, it looks like you are right about the two-sided derivative.  It must a different project where I used one-sided partials.

Rather than 'no-second-partials' I would name your option something like 'no-bias', to emphasize what is actually calculated (rather than how).  If it turns out that the bias calculations slow down the analysis a lot, you should probably reverse the logic so they are disa

[2015-12-02 01:16] drphilmarshall commented on #9
PS. @dkirkby did you also try inviting Ismael to join a team with write
access to this repo? I think you should be able to. You have write access
through your membership of the WeakLensing team, but also admin access
through the Old Owners team, and its the latter that should work even if
the former does not. There is precedent for DESC repos having non DESC
members with write access - this conver

[2015-12-02 01:33] dkirkby commented on #9
It looks like only the WeakLensing "Team Maintainers" (@mdschneider, @rmjarvis) can invite someone to join the team, and OldOwners is now a regular team with no associated admin access.

[2015-12-02 01:46] drphilmarshall commented on #9
OK, good to know - thanks David!

On Tue, Dec 1, 2015 at 5:33 PM, dkirkby notifications@github.com wrote:

[2015-12-02 02:40] rmjarvis commented on #9
Did you want me to add him?

Or, personally, I'd be perfectly happy to have more people be maintainers.  @drphilmarshall, Any problem with adding David as a maintainer.  Probably a few others as well I would imagine.  But David at least, since he's probably the most active WLer on the repo.

[2015-12-02 22:14] drphilmarshall commented on #9
Done - @dkirkby is now a Weak Lensing team maintainer.

On Tue, Dec 1, 2015 at 6:40 PM, Mike Jarvis notifications@github.com
wrote:

[2015-12-02 22:38] dkirkby commented on #9
Thanks @drphilmarshall.  It turns out that I can only add existing DarkEnergyScienceCollaboration members, so Ismael will need to join the DESC github organization first.

[2015-12-04 01:11] drphilmarshall commented on #9
Interesting! I just sent @ismael2395 an invitation to the organization. When he has accepted his invitation, maybe you could try altering his status to "Outside Collaborator"? Interested to know if Team Maintainers can do that. They _should_ be able to...

[2016-02-09 00:01] #8 closed, assigned to nobody

[2016-05-26 17:46] jmeyers314 opened #11 "id -> galtileid?"
Hi David,

I'm looking through some of this code to try and figure out why Ismael's getting weird results.  I came across this line: https://github.com/DarkEnergyScienceCollaboration/WeakLensingDeblending/blob/master/descwl/catalog.py#L87

I'm guessing this should be

[code]

but wanted to make sure I'm interpreting your intentions right.  Can you confirm?

[2016-05-27 15:13] dkirkby commented on #11
Yes!  (and the same two lines below).  I renamed 'id' to 'galtileid' at some point and obviously didn't test this option after the change.  Can you make a PR with just this fix or should I do it?

[2016-07-05 16:29] dkirkby opened #13 "Add tutorial links to the documentation"
The following tutorial (prepared for a SSIM telecon) should be mentioned in appropriate places of the sphinx docs:

https://github.com/DarkEnergyScienceCollaboration/WeakLensingDeblending/blob/master/notebooks/TutorialIntroduction.ipynb

It would be good to update the tutorial to demonstrate some new features:
- simulated stars
- bias calculations

We could also document how to run simulated image

[2016-07-28 15:55] fjaviersanchez opened #14 "Update outputs at SLAC"
While using the example files hosted at SLAC, the new version of reader rises an error `ValueError: unknown record: PSF_SIGM`

Either we update these files or we make the reader back-compatible.

[2016-07-28 16:53] dkirkby commented on #14
I think we should update the files since the new columns are presumably useful.  I don't think I have write access so we probably need to ping @richardxdubois about this.

[2016-08-08 21:52] dkirkby opened #15 "Add FAQ page to the documentation"
This is motivated by the upcoming [Blended Objects breakout session](https://project.lsst.org/meetings/lsst2016/agenda/blended-objects) at the LSST Project & Community Workshop, where the audience will not be primarily Dark Energy focused.

[2016-08-08 22:32] fjaviersanchez commented on #14
I have the new outputs at NERSC.

@richardxdubois @drphilmarshall Could you replace the files at ftp://ftp.slac.stanford.edu/groups/desc/WL/ with the new ones if I send you the path of these new files at NERSC?

[2016-08-08 23:55] dkirkby commented on #15
The FAQ is now available at http://weaklensingdeblending.readthedocs.io/en/latest/faq.html

[2016-08-08 23:55] #15 closed, assigned to nobody

[2016-08-08 23:55] dkirkby commented on #13
The tutorial is now mentioned at http://weaklensingdeblending.readthedocs.io/en/latest/quickstart.html

[2016-08-08 23:55] #13 closed, assigned to dkirkby

[2016-08-08 23:59] dkirkby commented on #2
The link is now working again (but I don't think I changed anything to make this happen).

[2016-08-08 23:59] #2 closed, assigned to nobody

[2016-08-08 23:59] #11 closed, assigned to nobody

[2016-08-09 00:01] #1 closed, assigned to nobody

[2016-08-09 21:54] dkirkby opened #17 "Implement color dependent galaxy shapes"
The catalog bulge/disk/AGN normalizations are specified at a one wavelength but multiply different SEDs, so this issue is to combine the normalization parameters (`fluxnorm_bulge/disk/agn`) with the appropriate SEDs (`sedname_bulge/disk/agn`) to calculate correct bulge/disk/agn proportions in each band.

As a cross check, try to reproduce the extinction corrected AB apparent magnitudes in the inpu

[2016-08-09 21:56] dkirkby commented on #9
I am now declaring this issue closed - thanks for all the hard work @ismael2395 !

[2016-08-09 21:56] #9 closed, assigned to nobody

[2016-08-09 22:23] danielsf commented on #17
Yes.  That schema is still current.

As to why there are no dust parameters for the AGN:  I'm not sure.  These tables were constructed before my time.  I will ask around.  It is possible that we decided it did not matter since literally every AGN in our catalog has the same SED (or, put another way, we only have one AGN SED in our SED library), so whatever we do isn't going to be very realistic an

[2016-08-09 22:58] danielsf commented on #17
Apparently, we matched our AGN distribution to the distribution in this reference

Y. Q. Xue, B. Luo, W. N. Brandt, F. E. Bauer, B. D. Lehmer, P. S. Broos, D. P. Schneider, D. M.
Alexander, M. Brusa, A. Comastri, A. C. Fabian, R. Gilli, G. Hasinger, A. E. Hornschemeier,
A. Koekemoer, T. Liu, V. Mainieri, M. Paolillo, D. A. Rafferty, P. Rosati, O. Shemmer, J. D.
Silverman, I. Smail, P. Tozzi, and C

[2016-08-09 23:10] dkirkby commented on #17
Thanks @danielsf !  How literally should I take the schema descriptions, e.g. for `fluxnorm_bulge`:

[code]

Do I really just multiply the raw SED (from [here](https://lsst-web.ncsa.illinois.edu/sim-data/sed_library/)?) by this scaling factor?  I guess the result is then in erg/cm2/s/A, based on the comment line in the individual SED files?

[2016-08-09 23:26] danielsf commented on #17
Yes, you can just multiply by the fluxnorm factor appropriate to the component.

Note: the LSST bandpass throughputs have evolved since the database was created.  In order to get near exact agreement with the catalog, you will have to use the throughputs as they exist in commit 3ed95bd of this github repository

https://github.com/lsst/throughputs

[2016-08-09 23:28] danielsf commented on #17
Also note that the [u,g,r,i,z,y]_ab magnitudes in the database neglect the AGN contribution (this is just based on a similar validation I did last week)

[2016-08-09 23:28] jmeyers314 commented on #17
I looked at reproducing the CatSim magnitudes from the SEDs/extinction/normalizations a few years ago.  The agreement at the time is in the following figure:

![compare_galaxy_mags](https://cloud.githubusercontent.com/assets/3650485/17536989/f1fde53c-5e4d-11e6-9b12-90b8d3147dfb.png)

Pretty good, but not exact.  At the time I chalked this up to evolution of the bandpasses since the catalog was cre

[2016-08-09 23:29] danielsf commented on #17
Stars have evolved (mostly we changed the wavelength grid at which we keep the SEDs).  Galaxies should not have been touched the last two or three years.

[2016-08-09 23:33] danielsf commented on #17
@dkirkby Am I correct that you ultimately want a catalog of galaxies with individual bulge, disk, and agn magnitudes in each of the LSST bands?

[2016-08-09 23:41] dkirkby commented on #17
That's the near-term goal, yes, to improve on my current assumption that the bulge/disk/agn proportions are the same in all bands.  However, I ultimately want to be able to calculate magnitudes of all components in arbitrary bands, e.g., WFIRST.  I already have the SED to magnitude part under control (using [specsim](http://speclite.readthedocs.io/en/latest/api.html#filters-api)) so I just need to

[2016-08-09 23:48] dkirkby commented on #17
On the topic of extinction, the schema says for, e.g. `ext_model_b`:

[code]

I guess `ccm` refers to [Cardelli, Clayton & Mathis (ApJ, 345, 245, 1989)](http://adsabs.harvard.edu/abs/1989ApJ...345..245C), but this appears to be Milky Way (not host galaxy) extinction, so shouldn't it depend on the (ra,dec) of an observation, which isn't fixed for a catalog object because of the tiling?

[2016-08-09 23:49] danielsf commented on #17
Okay.  We already have many tools in CatSim for querying our database, loading the SEDs, integrating them over bandpasses (Bryce Kalmbach recently added WFIRST, Hipparcos, and PanStarrs filters to our throughputs repository).  If you'd rather not deal with the trouble of querying our database and parsing its contents "by hand," let me know, and I can show you how to do all of this in the CatSim fr

[2016-08-09 23:54] danielsf commented on #17
The rv_d, rv_b etc. parameters are for defining a dust extinction model (that is CCM-like) inside the host galaxy.  If you want to further apply Milky Way extinction on top of that, you need to calculated the relevant dust parameters based on the galaxy's RA, Dec

[2016-08-09 23:58] dkirkby commented on #17
I am using a preprocessed 1 sq.deg. of CatSim to insulate users entirely from the database layer, but
I am willing to try out the CatSim framework if you think it is ready for wider distribution.  What dependencies would that pull in?  Where should I start in the docs? Will you be in Tucson next week?

[2016-08-10 00:02] danielsf commented on #17
I will be in Tucson.

The tools I describe exist entirely in the code that you get when you install the LSST Simulations stack.

https://confluence.lsstcorp.org/display/SIM/Catalogs+and+MAF

The best tutorial on how CatSim works is here

https://github.com/uwssg/LSST-Tutorials/blob/master/CatSim/CatSimTutorial_SimulationsAHM_1503.ipynb

I will draw up an iPython notebook explaining how to do what

[2016-08-10 00:22] dkirkby commented on #17
That's 28 packages, including boost, just to read the SED text files in `sims_sed_library` !  I'm interested to learn how to do this, but not sure I want to pass this on to users.

I think my next step should be to replace the current [dbquery script](http://weaklensingdeblending.readthedocs.io/en/latest/catalog.html#create-galaxy-catalog-from-lsst-catalog-database) with equivalent code using the

[2016-08-10 13:19] ismael-mendoza commented on #9
Thanks for all your help @dkirkby! I am glad to have contributed to your package

[2016-08-10 19:16] dkirkby commented on #7
@alexabate I just noticed that you used `host="localhost"` when you updated `dbquery` to use sqlalchemy (see [here](https://github.com/DarkEnergyScienceCollaboration/WeakLensingDeblending/blob/master/dbquery.py#L95)) Is that because you were already logged on to the server at UW?

[2016-08-10 19:28] dkirkby commented on #17
@danielsf What is the minimal set of LSST Sims packages required to query the UW CatSim db?  Looking the names and descriptions given [here](https://confluence.lsstcorp.org/display/SIM/Catalogs+and+MAF#CatalogsandMAF-installation), I would guess:

[code]

Do you expect that some small set of packages like this will be sufficient, or am I going to end up needing everything under `lsst-apps` and `ls

[2016-08-10 20:41] danielsf commented on #17
Unfortunately, installing sims_catUtils means installing basically the whole of lsst_sims.  sims_catUtils includes functions that map (RA, Dec) to pixel positions on the LSST camera, which implies dependence on afw (DM's "applications framework").  And, yes, sims_catUtils is where the interface to the CatSim database is defined.

You do not need lsst_apps to run any of the simulations code.

[2016-08-10 20:42] danielsf commented on #17
Have you tried the conda installation of lsst_sims?  It takes about 30 minutes to install on account of the SED library and dust maps, but it is very straightforward and not nearly as prone to failure as eups distrib install was (and even eups distrib install is much more stable than it used to be)

[2016-08-10 20:50] alexabate commented on #7
Yes I believe so. I think I logged in to UW in another terminal window

[2016-08-11 00:42] dkirkby commented on #17
For the record, the installation consumed 7G and took about an hour (on my laptop).

[2016-08-11 16:14] dkirkby commented on #17
Should I be concerned that the lsst-sims installation replaced a bunch of standard packages with "nomkl" versions?  Will that interfere with other packages that depend on these standard packages?

[code]

Is MKL actually incompatible with the LSST stack?  Otherwise, it [sounds like a good thing](https://www.continuum.io/blog/developer-blog/anaconda-25-release-now-mkl-optimizations).

[2016-08-11 16:23] danielsf commented on #17
As I understand it: the way the MKL packages were implemented, they contain methods that have the same names as methods provided by fftw (which the stack also uses), so there was a lot of incorrect linking going on.  Mario Juric has figured out a way to hack fftw so that this is no longer a problem and we should be able to build against MKL in future versions of the sims stack.

[2016-08-11 16:52] cwwalter commented on #17
Apparently this is now in the development versions but the latest conda releases don't have the fix yet so right now when you do the lsst-sims update it downgrades them.

BTW, David there is a separate conda channel you can use that has a rolling sims update release schedule.  The official DM one is frozen.

[2016-08-11 16:59] dkirkby commented on #17
I believe the sims use a different channel than DM (with more frequent updates?):

[code]

None of my standard packages were actually downgraded when I installed `lsst-sims`.

[2016-08-11 17:01] cwwalter commented on #17
Yes, that is the channel.

Oh, do you mean you redid it with the sims channel and the packages weren't downgraded to nomkl?

That's good.  That mean Josh H. remade the packages.

[2016-08-11 17:17] dkirkby commented on #17
They were replaced with `nomkl` versions but not downgraded in the version-number sense, e.g.

[code]

[2016-08-11 17:18] cwwalter commented on #17
Ah. OK. That is the same.  That should change the next time new binaries are released.

[2016-08-11 18:39] dkirkby commented on #17
@danielsf A suggestion for [these instructions](https://confluence.lsstcorp.org/display/SIM/Accessing+the+UW+CATSIM+Database): add options `-fN` to the ssh command line in step (1) so it puts the tunnel process in the background instead of starting an interactive remote shell session.

Also, step (2) seems to be redundant with the latest `lsst-sim` since `$SIMS_CATUTILS_DIR/config/db.py` already h

[2016-08-12 15:30] dkirkby commented on #17
For the record, I just got burned by this DM stack nomkl business when I tried to update a non-conda package (lmfit) using pip, which triggered an update of numpy and left me with a broken numpy.  I was eventually able to recover from this (but unable to upgrade lmfit) with:

[code]

[2016-08-12 15:35] joezuntz commented on #17
Side question about the stack: has anyone seen the error:
OpenBLAS: pthread_creat error in blas_thread_init function. Error code:11
before when trying to run things?

[2016-08-12 16:11] danielsf commented on #17
@joezuntz I have seen the problem before (second hand; haven't incurred it myself).  In the past, it has been resolved be reducing the number of cores and/or thread you are trying to use.  Perhaps try setting OMP_NUM_THREADS to something 25 or lower.

[2016-11-15 16:37] dkirkby opened #18 "Review sky brightness calculation"
We currently apply extinction to the sky brightness before converting it to elec/sec via `Survey.get_flux`.  Is this the right thing to do?

[2016-11-15 16:38] dkirkby commented on #18
The relevant code from `survey.py` is:

[code]

and:

[code]

[2016-11-16 06:05] dkirkby opened #19 "Review LSST zeropoints"
Calculate values for the latest LSST filters with airmass 1.2 using:
[code]
This gives 1.349 / (s m2) compared with 1.681 currently in the code (which is based on airmass 1).  Can the airmass difference can explain this, or did the filter curves change that much?  The original values were committed in Dec 2014.

[2017-01-07 15:16] fjaviersanchez commented on #19
The filter's throughput several times during 2015 (I had to revert to the commit `2aa3ef709f841b85eb10eeeff13c1526c841e8ee` in `https://github.com/lsst/throughputs`) that makes the difference between 1.681 and 1.349. The new filter response curves include updates in the engineering model and the change from airmass 1.0 to 1.2 so, it looks like a combination of an updated model and an updated airma

[2017-01-07 16:22] dkirkby commented on #19
If its easy, can you make the same plot with both filters at airmass 1 by dividing out the airmass-only contribution (assuming there is a separate file for that)?  It would also be useful to compare the airmass-only curve with the simple extinction model assumed in the code (which will need to be updated if the nominal airmass has changed).

[2017-01-07 20:37] fjaviersanchez commented on #19
I computed several things:

1) The ratio of the throughput from the updated atmosphere model with aerosol and airmass =1.2 divided by the throughput with airmass = 1.0 and no aerosols

![ratio_x0](https://cloud.githubusercontent.com/assets/13971732/21744978/3de38cfa-d521-11e6-805d-5434acc2ef66.png)

2) A plot showing the new filter with airmass 1.2 and the old filter multiplied by the correction f

[2017-01-07 22:45] fjaviersanchez commented on #19
I computed the flux with the correction `ab_magnitude +=extinction*(airmass-1.0)` and without this correction but computing a new zeropoint. To do so, I used the airmass throughputs from `lsst/throughputs` for r-band at X=1.4 the difference in flux counts is ~1.5%
![dif_mag](https://cloud.githubusercontent.com/assets/13971732/21745774/518c8ae2-d533-11e6-9bf5-69ceb3bc800f.png)

[2017-01-08 00:29] dkirkby commented on #19
It looks like the change of airmass + aerosols only accounts for a ~5% change, but there is an additional ~10% change from other sources.  Can you track this down in the files that specify the other contributions to the overall throughput: detector, filter_r, hardware_r, lens1-3 and m1-3?

When you wrote X=1.4 did you mean X=1.2?  I only see values of 1.0 and 1.2 tabulated in `lsst/throughputs`.

[2017-01-08 19:57] fjaviersanchez commented on #19
Yes, I will. I meant X=1.4 you can see the values tabulated from 1.0 to 2.5 in [here](https://github.com/lsst/throughputs/tree/master/atmos)

[2017-01-09 10:20] fjaviersanchez commented on #19
It looks like one of the mirrors was missing in the previous version of the throughputs (the one that we used to calculate the zeropoints in the package originally). See the plots attached:

![throughputs](https://cloud.githubusercontent.com/assets/13971732/21763265/4fd03d0e-d65d-11e6-8535-3cf1c77c8424.png)

![components](https://cloud.githubusercontent.com/assets/13971732/21763316/a0de3250-d65d-1

[2017-01-09 16:08] fjaviersanchez commented on #18
If I change the `zero_points` and I write `ab_magnitude += self.extinction*(self.airmass - 1.2)` it is slightly better than: `ab_magnitude += self.extinction*(self.airmass - 1.0)` but the flux is still ~0.5% off recomputing the `zero_points` for the new airmass conditions.

[2017-01-12 00:27] dkirkby opened #21 "Update default LSST sky brightness and seeing values"
The defaults in `descwl.survey` do not agree with Table 2 of Ivezic 2014.

[2017-01-12 15:35] fjaviersanchez commented on #21
I updated the sky brightness values matching them to the table and I changed the seeing multiplying times `X**0.6` as stated in Ivezic 2014. Everything has been updated in #20.

[2017-01-28 00:21] fjaviersanchez opened #22 "Reproduce numbers of https://arxiv.org/abs/0805.2366"
I prepared a notebook in here:

https://gist.github.com/fjaviersanchez/28a2ebc0b22cc5d0b7fa76579a356a69

I computed the median 5-sigma depth (using sigma_grpf) and the MAD as its error. The numbers are compatible (the errors are quite large due to the size of the image).

@ dkirkby Should I push this notebook to the repo?

[2017-01-28 19:51] dkirkby commented on #22
I think this should eventually be a cmd-line script, but let's keep it as a notebook for now.  Isn't `snr_iso` closer to how the 5-sigma depth is defined?

[2017-01-28 20:57] fjaviersanchez commented on #22
Yes, you're right. That's closer to the point-source depth. I can make a cmd-line script. Should it read the band directly from the image or should we require it as an input?

[2017-03-13 00:31] ismael-mendoza opened #23 "Problem with lmfit?"
I recently tried running the basic command:

[code]

In my fork and I got the following error:

[code]
I tried to `git clone` the repository  just to make sure it was not my fork. This still produced the error above running the same command.
I also updated my version of `lmfit` without any success. Not sure what could be the problem.

[2017-03-16 16:58] fjaviersanchez commented on #19
Solved in #20

[2017-03-16 16:58] #19 closed, assigned to nobody

[2017-03-16 16:58] #22 closed, assigned to nobody

[2017-03-16 16:58] #21 closed, assigned to fjaviersanchez

[2017-03-16 17:01] fjaviersanchez commented on #18
I think we can't recompute the zero-points for the different conditions since we have the model for LSST but this might be (probably will be) different for DES and CFHTLS. What do you think @dkirkby?

[2017-03-16 17:17] dkirkby commented on #18
Our DES & CFHTLS zero points are simply rescaled from the LSST zero points, so should have the same airmass scaling.  In other words, I think we want to use:
[code]
Since the zero-point already includes extinction at `zeropt_airmass`.

This reminds me that we need to update the DES & CFHTLS zeropoints, now that the LSST ones have changed!

[2017-03-17 00:47] fjaviersanchez commented on #23
So it looks like the default nan policy in lmfit is now 'raise' and before was 'omit'. I created a `Minimizer` object to solve this before calling the minimize step. This will be solved when I merge the branch `adding_stars` into `master`

[2017-03-17 00:47] fjaviersanchez commented on #23
In the meanwhile you can try to change this:

[code]
To this:

[code]

[2017-03-17 01:16] ismael-mendoza commented on #23
Thanks Javier !

[2017-03-19 20:50] fjaviersanchez commented on #18
I updated these zero-points in PR #20. I also added `DECAM g` and `DECAM z` filters.

[2017-04-12 17:34] ismael-mendoza commented on #23
Pat and I thought it would be a good idea to toggle running lmfit, so I am opening a pull request that includes this toggle with a parameter `no-lmfit`

[2017-04-17 14:27] #23 closed, assigned to nobody

[2017-04-28 01:15] sowmyakth commented on #19
I used the LSST default values currently in descwl/survey.py on the catsim galaxies and I got the magnitude off by 0.05. I think the cause is the zero point value. The LSST r band zero point used here is 1.349 / (s m2). The effective area mentioned in the code is 32.4 (m2), which gives zero point = 43.7.  However the value of r band zero point used in the code is 44.8. I think the reason is that i

[2017-04-28 10:56] fjaviersanchez commented on #19
Yes, that's correct. I missed the change in effective area. It should be solved now. Thank you @sowmyakt!

[2017-05-02 19:46] fjaviersanchez opened #27 "Review LSST exposure times"
Right now we have 6900s exposure times in all filters for LSST. Should we use the latest numbers in Ivezic et al (https://arxiv.org/abs/0805.2366)?

[2017-05-02 21:13] dkirkby commented on #27
Yes 👍

[2017-05-02 22:18] fjaviersanchez commented on #27
Updated in master. These are the new numbers:
u, g, r, i, z, y (seconds)
1680, 2400, 5520, 5520, 4800, 4800

[2017-05-02 22:18] #27 closed, assigned to nobody

[2017-08-08 18:38] rmandelb opened #28 "Self-documenting variable names?"
Hi @dkirkby -

My student Husni ( @hsnee ) has been looking through your code to learn how to use it for his DESC work.  While doing so, we found something a bit confusing:

You have some variables in the output tables with names like ```psf_X``` (for example, ```psf_sigm```) which seem like they are meant to include properties of the PSF.  But if we look at where this quantity is set, https://git

[2017-08-08 18:51] rmandelb opened #29 "more realistic PSFs from externally produced models"
A student working with me, Husni ( @hsnee ), would like to make it possible to use a more realistic PSF model with variation across the focal plane.  He is working on this on a branch in the repo called ```external_psf```.  Before surprising you with a pull request, I thought it might be worth us discussing how this will be done, in case you have suggestions for the cleanest way to incorporate thi

[2017-08-08 19:26] fjaviersanchez commented on #29
@rmandelb I think that what you suggest makes sense. I think the best place to introduce this is `survey.py` where you can also add the `external_psf` argument. The main problem that I see is that when you call `survey.psf_model` you might need to include some position as argument as you mentioned but I think that's all. In `analysis.py` and `output.py` you also have to include information about t

[2017-08-09 16:54] dkirkby commented on #28
I agree that variable names could be generally improved here and any suggestions are welcome! Keep in mind that you often end up typing these names when exploring the outputs interactively in a jupyter notebook (without cmd-line completion on table column names).

Also, since you mentioned digging in the code to figure out what `psf_sigm` does, perhaps you didn't already see this page on the docum

[2017-08-09 19:27] dkirkby commented on #29
Welcome @hsnee!

This sounds like a useful feature and the general plan sounds good.  I was a bit confused about what the "image of the PSF model" represents: is it the PSF itself, or a numerical representation of how its parameters vary across the image?

A general issue here is that we have mostly focused on simulating a full-depth coadd in one shot, but this is a feature geared towards simulati

[2017-08-11 02:57] rmandelb commented on #28
Hi @dkirkby -

Good point.  What about something like ```gal_sigm``` and ```gal_obssigm``` for the pre-seeing and observed size?

We did see your (excellent and much-appreciated) documentation, but I saw ```psf_sigm``` in two places when I searched on that page.  In the first place, it's in the section defining survey parameters, and is defined as ```PSF size \|Q\|**0.25 in arcsecs (unweighted Q)`

[2017-08-11 03:00] dkirkby commented on #28
Good point, that is confusing! Let's change the catalog name as you proposed.

[2017-09-11 00:37] rmandelb commented on #29
Hi @dkirkby - in the end we decided not to move forward with this right now, because of the need to address what happens with single-exposure PSF modeling errors as they get propagated into the full stack of images.  So, I am closing this issue.

[2017-09-11 00:37] #29 closed, assigned to nobody

[2018-03-28 20:07] sowmyakth opened #35 "Option to output only the survey image and not perform analysis"
Add command line argument that lets the user to only generate the galsim created survey image for a given input catalog. This would skip over fisher formalism error computations, source and pixel level properties computations. This would be helpful for generating large field images for applications that do not require analysis results, thereby saving the user compute time.

[2018-03-28 22:26] dkirkby commented on #35
This sounds like a useful feature.  Can you go ahead and make a PR and ask here if you have any questions about how to implement it.

[2019-03-15 21:40] fjaviersanchez opened #38 "grp covariances depending on simulation size??"
@ismael2395 brought to my attention that when he does:

[code]
he gets different results for the group `402700140027` than when he runs:
[code]
Even though that group is fully contained within the image width and height. This requires some follow-up investigation.
@ismael2395: Please, feel free to elaborate more on this and/or include any plots you find relevant.

[2019-03-16 14:51] ismael-mendoza commented on #38
Thanks @fjaviersanchez for posting the issue. As Javier mentioned, the two simulate commands posted above both produce a stamp that completely contains the group `402700140027` (in both cases the table produced indicates that the `grp_size` is `77`)  but the grp fisher errors produced are different. One example of this is a galaxy with `db_id: 402700857466` which in `demo2` (output of first simula

[2019-03-25 16:18] fjaviersanchez opened #39 "add Euclid instrument"
I'm opening this issue to keep track of the work to implement the Euclid instrument/filters in WLD. The main issue is going to be getting the correct magnitudes for the `OneSqDeg.fits` catalog.

[2019-03-25 16:18] fjaviersanchez opened #40 "add Euclid instrument"
I'm opening this issue to keep track of the work to implement the Euclid instrument/filters in WLD. The main issue is going to be getting the correct magnitudes for the `OneSqDeg.fits` catalog.

[2019-03-25 16:28] #40 closed, assigned to nobody

[2019-04-05 18:29] fjaviersanchez commented on #38
I am going to try to summarize the progress about this issue here:

1) We tried to switch from `np.linalg.inv` to a pseudoinverse method (in this case `np.linalg.pinv`).
2) It looks like this partially solves the problem. However, some checks about the pseudoinverse seem to fail (e.g., A A^+ A = A but A^+ A A^+ != A^+) and `np.diag(AA^+) != np.ones(A.shape[0])`
3) There are several ways to compute

[2019-04-05 19:01] ismael-mendoza commented on #38
Some other (possibly) useful references for pinv vs. pinv2 vs np.pinv...

- https://stackoverflow.com/questions/27775986/numpy-scipy-pinv-and-pinv2-behave-differently
- https://github.com/scipy/scipy/issues/8861
- https://stackoverflow.com/questions/13265299/the-difference-of-pseudo-inverse-between-scipy-and-numpy/13265930#13265930
- https://github.com/scipy/scipy/issues/4372

[2019-04-06 19:44] fjaviersanchez commented on #39
I have a version of the `OneSqDeg.fits` including `VIS` magnitudes using the latest version of Euclid VIS throughputs (see https://github.com/dkirkby/speclite/issues/47 for more details about the filters). Should I post it somewhere (Google Drive or git lfs?)?

[2019-07-05 16:40] ismael-mendoza commented on #38
After some discussion with @fjaviersanchez  and @burchat I believe I understand what was causing this issue and it is not really a bug in the code. I was looking at this paper https://arxiv.org/abs/gr-qc/0703086 (Use and Abuse of the Fisher Information Matrix in the Assessment of Gravitational-Wave Parameter-Estimation Prospects) and here is the relevant excerpt from it:

where `\kappa^{-1}(F)` is

[2019-07-05 16:40] #38 closed, assigned to ismael-mendoza, fjaviersanchez

[2019-07-08 15:29] ismael-mendoza commented on #38
Description of what `background` refers to in the code by @fjaviersanchez in case it's useful in the future,

[2019-07-23 12:45] beckermr opened #43 "cut a new release"
There are ~180 commits to master since the last release. It is time to cut a new one.

@dkirkby for viz

[2019-07-23 20:30] dkirkby commented on #43
I agree.  @fjaviersanchez Can you take care of this?

[2019-08-22 04:12] ismael-mendoza opened #45 "Running the same command produces different number of dropped objects"
There is an issue with the current version of WLD. I realized that when running the _exactly same_ command multiple times, like:
[code]
will produce different number of dropped objects from the fisher inversion process. To be precise running:
[code]
may produce different results even even if `cat` was created from the exact same command.

[2019-08-22 04:13] ismael-mendoza commented on #45
Should be fixed after #44 is merged. The version after the PR consistently results in
[code]
for multiple runs of the command above.

[2019-08-26 20:45] ismael-mendoza commented on #45
Resolved with #44  (although exact reason for this error remains unknown)

[2019-08-26 20:45] #45 closed, assigned to ismael-mendoza

[2020-02-14 23:49] b0ndman opened #46 "wrong git. ignore issue"

[2020-02-14 23:51] #46 closed, assigned to nobody

[2020-02-14 23:51] b0ndman commented on #46
Wrong git.

[2020-04-09 19:31] esheldon opened #47 "How to rescale an image to a zero point"
I'm generating images with this package, and I'd like to rescale them to a common zero point, say 30.0.    This is important so that they can all be on the same footing to, e.g. be coadded (for example coadding r+i+z) and so it is easy to compute magnitudes downstream (all bands on the same zero point) etc.

What formula should I apply to do this conversion?

[2020-04-09 20:07] fjaviersanchez commented on #47
We computed the zeropoints as follows (see #19)
(note that you will need [speclite](https://github.com/dkirkby/speclite) that is pip-installable).
[code]

So for example, to compute the LSST-r band zeropoint you would do `calculate_zero_point('lsst2016-r')`. The `lsst2016` filter throughputs assume airmass=1.2. After this you have to multiply times the effective area of the telescope (for LSST it

[2020-04-09 20:11] fjaviersanchez commented on #47
I forgot to say that the fluxes are then computed as: `exposure_time*zero_point*10**(-0.4*(ab_magnitude-24))`

[2020-04-09 22:47] esheldon commented on #47
I'm talking about the magnitude zero point which is a different thing that you have there

[2020-04-09 23:21] fjaviersanchez commented on #47
That would be `2.5*log10(zero_point)+24` where `zero_point` is calculated as mentioned above and can be found in [`descwl/survey.py`](https://github.com/LSSTDESC/WeakLensingDeblending/blob/master/descwl/survey.py#L225) for each one of the surveys/filters combinations.

[2020-04-09 23:31] fjaviersanchez commented on #47
So I guess that the answer to your question about how to get an image with magnitude zeropoint of 30 would be setting the option `--zero-point  251.1886`

[2020-04-09 23:35] esheldon commented on #47
I don't use the command line interface, I use the library.

Something that doesn't look right is that your flux definition has exposure time in it.  Mags are not defined that way with respect to the zero point.

A mag is defined as `mag = ZEROPOINT - 2.5*log10(flux)`.  It looks like you instead use flux*time

[2020-04-10 00:11] fjaviersanchez commented on #47
Yes, our definition of zeropoint is not the usual of magnitude to get a flux of 1 e-/second but e-/s at 24th magnitude. See more here: https://github.com/LSSTDESC/WeakLensingDeblending/issues/1#issuecomment-156719248

Yes, sorry, what I wrote above was the rendered number of counts of source for a given exposure time instead of the flux itself which is (given our convention) `zero_point*10**(-0.4*

[2020-04-10 12:15] esheldon commented on #47
The images need the exposure time taken out.  Here is the formula to get a desired zero point (in this case 30)

[code]

FYI @beckermr

[2020-04-10 12:18] esheldon commented on #47
but note that then the noise is not correct, so I think I'll end up doing this after generating the image

[2020-04-10 15:37] esheldon commented on #47
For posterity:
[code]

[2020-04-10 15:37] esheldon commented on #47
Thanks, I'll close this issue

[2020-04-10 15:37] #47 closed, assigned to nobody

[2020-04-17 09:57] EiffL opened #48 "Requirements disabled in setup.py"
I'm installing the WeakLensingDeblending package on a bare system, and was surprised to have to install dependencies that weren't automatically grabbed by the setup.py.

It looks like the install requirements is commented out:
https://github.com/LSSTDESC/WeakLensingDeblending/blob/edab9bc0d701d995632975feafd5a969740639c7/setup.py#L30

Is there a reason for that? If it's because there are some pack

[2020-04-17 15:17] dkirkby commented on #48
This is a really bare bones setup.py since this code has mostly been used as an application rather than a library, and any modernization is definitely welcome.  When we started this, galsim was not pip/conda installable but now I don't see any reason not expose the full set of requirements.

[2020-08-01 13:33] dkirkby opened #49 "Tag and create zenodo reference"
The metadetect paper needs a zenodo DOI to cite this package.

Instructions are [here](https://guides.github.com/activities/citable-code/).

We should tag first.  Any last minute changes to include in the tag? (I don't see any open PRs).

[2020-08-07 14:32] ismael-mendoza opened #51 "Change equilibration code 'magic number'"
Mike's suggestion in the paper review is to use exact powers of 2 for equilibrating matrices instead of `10^4` (which we currently use). This would avoid the equilibration process itself introducing numerical noise from numbers (10^4) not being exactly invertible in double precision. I think an appropriate replacement would be either `2**13` or `2**14`

I don't think this would change the output (

[2020-08-10 18:21] dkirkby commented on #49
The new reference  is (thanks to @fjaviersanchez ):

and  our README now has a badge showing this.  Closing.

[2020-08-10 18:21] #49 closed, assigned to fjaviersanchez